Source: requests-file
Section: python
Priority: optional
Maintainer: Antoine Beaupré <anarcat@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               pybuild-plugin-pyproject,
               python3-all,
               python3-pytest,
               python3-requests,
               python3-setuptools,
               python3-setuptools-scm,
Rules-Requires-Root: no
Standards-Version: 4.1.1
Homepage: https://github.com/dashea/requests-file
Vcs-Git: https://salsa.debian.org/debian/requests-file.git
Vcs-Browser: https://salsa.debian.org/debian/requests-file

Package: python3-requests-file
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: ${python3:Recommends}
Suggests: ${python3:Suggests}
Description: File transport adapter for Requests - Python 3.X
 Requests-File is a transport adapter for use with the Requests Python
 library to allow local filesystem access via file:// URLs.
 .
 Features:
 .
  * Will open and read local files
  * Might set a Content-Length header
  * That's about it
 .
 No encoding information is set in the response object, so be careful using
 Response.text: the chardet library will be used to convert the file to a
 unicode type and it may not detect what you actually want.
 .
 EACCES is converted to a 403 status code, and ENOENT is converted to a
 404. All other IOError types are converted to a 400.
 .
 This package contains the Python 3 version of the library.
